.viewChange {
  position: absolute;
  right: 118px;
  // top: 100px;
  width: 60px;
  height: 60px;
  background: url("/image/bg.png");
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    width: 24px;
    font-size: 12px;
    font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 3-65 Medium;
    font-weight: normal;
    color: #e0f2ff;
  }
}
.goHome {
  position: absolute;
  right: 30px;
  // top: 100px;
  width: 60px;
  height: 60px;
  background: url("/image/bg.png");
  background-size: 100% 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .text {
    width: 24px;
    font-size: 12px;
    font-family: Alibaba PuHuiTi 3, Alibaba PuHuiTi 3-65 Medium;
    font-weight: normal;
    color: #e0f2ff;
  }
}
.viewContent1 {
  position: absolute;
  right: 199px;
  top: -44px;
  width: 46px;
  height: 113px;
  display: block;
}
.viewContent2 {
  position: absolute;
  right: 82px;
  top: 88px;
  width: 113px;
  height: 46px;
  display: inline-flex;
}
.view1,
.view2,
.view3,
.view4 {
  width: 46px;
  height: 46px;
  background-size: 100% 100%;
  cursor: pointer;
}
.view1 {
  margin-bottom: 21px;
  background: url("/image/view1.png");
  background-size: 100% 100%;
}

.view2 {
  background: url("/image/view2.png");
  background-size: 100% 100%;
}
.view3 {
  margin-right: 21px;
  background: url("/image/view3.png");
  background-size: 100% 100%;
}
.view4 {
  background: url("/image/view4.png");
  background-size: 100% 100%;
}
